python-dotenv
requests
pyperclip
tqdm
numpy
pandas
matplotlib
treelib
flask
markdown
mysql-connector-python
pycryptodome
opencv-python
pypng
PyQRCode
pyxel
tkeasygui
FreeSimpleGUI
flet
markdown-it-py[plugins]
jupyter-lab
pip-review
